<!-- awards -->
<div class="awards">

    <img src="img/awards/pic1.svg" width="116px" height="63px" alt="">
    <img src="img/awards/pic2.svg" width="100px" height="65px" alt="">
    <img src="img/awards/pic3.png" width="253px" height="52px" alt="">
    <img src="img/awards/pic4.svg" width="147px" height="73px" alt="">
    <img src="img/awards/pic5.svg" width="84px" height="85px" alt="">
    <img src="img/awards/pic6.png" width="108px" height="79px" alt="">
    <img src="img/awards/pic7.svg" width="148px" height="87px" alt="">

</div>
<!-- /awards -->