<!-- footer -->
<footer class="footer">

   <!-- footer__top -->
   <div class="footer__top">

       <!-- inner -->
       <div class="inner">

           <!-- description -->
           <div class="description description_white">
               <h2>unforgettAble</h2>
               <p>Emerald hills roll into prehistoric peaks that pierce the sky, creating indelible encounters with nature.</p>
           </div>
           <!-- /description -->

           @@include('map.html')

           <!-- footer__menu -->
           <nav class="footer__menu">
               <a href="#">about</a>
               <a href="#">news & press</a>
               <a href="#">careers</a>
               <a href="#">contact</a>
           </nav>
           <!-- /footer__menu -->

           @@include('social.html')

           <!-- footer__address -->
           <address class="footer__address">
               <span>Saratoga, WY 82331</span>
               <span>Tel <a href="tel:3073275284">307.327.5284</a></span>
               <span>Fax <a href="tel:3073275970">307.327.5970</a></span>
               <span><a href="mailTo:info@brushcreekranch.com">info@brushcreekranch.com</a></span>
           </address>
           <!-- /footer__address -->

       </div>
       <!-- /inner -->

   </div>
   <!-- /footer__top -->

    <!-- footer__bottom -->
    <div class="footer__bottom">

        <!-- inner -->
        <div class="inner">

            <!-- footer__logo -->
            <a href="#" class="footer__logo">
                <img src="img/logo.png" alt="BRUSH CREEK">
            </a>
            <!-- /footer__logo -->

            @@include('awards.html')

        </div>
        <!-- /inner -->
        
    </div>
    <!-- /footer__bottom -->

</footer>
<!-- /footer -->