<!--&lt;!&ndash; gallery &ndash;&gt;-->
<!--<div class="gallery">-->
    <!--<div class="swiper-container gallery-top">-->
        <!--<div class="swiper-wrapper">-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" style="background-image: url(img/bg/pic7.jpg)"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
        <!--<div class="swiper-button-next swiper-button-white"></div>-->
        <!--<div class="swiper-button-prev swiper-button-white"></div>-->
    <!--</div>-->
    <!--<div class="swiper-container gallery-thumbs">-->
        <!--<div class="swiper-wrapper">-->
            <!--<div class="swiper-slide" data-id="0" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="1" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="2" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="3" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="4" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="5" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="3" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="4" style="background-image: url(img/bg/pic7.jpg)"></div>-->
            <!--<div class="swiper-slide" data-id="5" style="background-image: url(img/bg/pic7.jpg)"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /gallery &ndash;&gt;-->

<!-- gallery -->
<div class="gallery">
    <div class="slider slider-for">
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
    </div>
    <div class="slider slider-nav">
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
    </div>
</div>
<!-- /gallery -->