<!-- gallery -->
<div class="gallery">
    <div class="slider slider-for">
        <div class="lazyload" data-src="img/bg/pic10.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic2.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic3.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic4.png"></div>
        <div class="lazyload" data-src="img/bg/pic5.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic6.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic7.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic8.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic1.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic10.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic2.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic3.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic4.png"></div>
        <div class="lazyload" data-src="img/bg/pic5.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic6.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic7.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic8.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic1.jpg"></div>
    </div>
    <div class="slider slider-nav">
        <div style="background-image: url(img/bg/pic10.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
        <div style="background-image: url(img/bg/pic8.jpg)"></div>
        <div style="background-image: url(img/bg/pic9.jpg)"></div>
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
        <div style="background-image: url(img/bg/pic10.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
        <div style="background-image: url(img/bg/pic8.jpg)"></div>
        <div style="background-image: url(img/bg/pic9.jpg)"></div>
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
    </div>
</div>
<!-- /gallery -->