<!-- hero -->
<div class="hero">

    <!--<div id="path1" class="tmp"></div>-->
    <!--<div id="path2" class="tmp"></div>-->
    <!--<div id="path3" class="tmp"></div>-->
    <!--<div id="path4" class="tmp"></div>-->
    <!--<div id="path5" class="tmp"></div>-->

    <!-- hero__movie -->
    <div class="hero__movie">
        <img src="img/bg/pic5.jpg" alt="">

        <!--<video autoplay loop poster="img/bg/pic5.jpg" >-->
            <!--<source src="video/video1.mp4" type="video/mp4">-->
            <!--Your browser doesn't support HTML5 video tag.-->
        <!--</video>-->
    </div>
    <!-- /hero__movie -->

    <!-- hero__mask -->
    <div class="hero__mask">
        <img src="img/masks/mask2.png" alt="">
    </div>
    <!-- /hero__mask -->
</div>
<!-- /hero -->