<!-- logos -->
<div class="logos">

    <!-- logos__item -->
    <section class="logos__item">

        <!-- logos__head -->
        <header class="logos__head">
            <span class="logos__icon"><img src="img/logos/logos1.svg" alt="grand adventure"></span>
            grand adventure
        </header>
        <!-- /logos__head -->

        <!-- logos__content -->
        <div class="logos__content">
            <p>Inspired by the majestic beauty and rich history of the region, the Lodge & Spa Brush Creek
                Ranch is where traditional rusticity meets unmatched luxury across a 30,000-acre working
                cattle ranch.</p>

            <a href="#" class="btn">visit</a>
        </div>
        <!-- /logos__content -->

        <!-- logos__footer -->
        <footer class="logos__footer">
            <img src="img/logos/logos1_1.png" alt="grand adventure">
        </footer>
        <!-- /logos__footer -->

    </section>
    <!-- /logos__item -->

    <!-- logos__item -->
    <section class="logos__item logos__item_2">

        <!-- logos__head -->
        <header class="logos__head">
            <span class="logos__icon"><img src="img/logos/logos2.svg" alt="tranquility on the range"></span>
            tranquility on the range
        </header>
        <!-- /logos__head -->

        <!-- logos__content -->
        <div class="logos__content">
            <p>Enjoy richly-appointed accommodations, sumptuous culinary offerings, and adventures that will
                rekindle your sense discovery and wellness – all along side your most important
                companion.</p>

            <a href="#" class="btn">visit</a>
        </div>
        <!-- /logos__content -->

        <!-- logos__footer -->
        <footer class="logos__footer">
            <img src="img/logos/logos2_1.png" alt="tranquility on the range">
        </footer>
        <!-- /logos__footer -->

    </section>
    <!-- /logos__item -->

    <!-- logos__item -->
    <section class="logos__item logos__item_3">

        <!-- logos__head -->
        <header class="logos__head">
            <span class="logos__icon"><img src="img/logos/logos3.svg" alt="yours to conquer"></span>
            yours to conquer
        </header>
        <!-- /logos__head -->

        <!-- logos__content -->
        <div class="logos__content">
            <p>Gather at our elite 15,000-acre sporting paradise locatedon the legendary Sanger Ranch
                property, famous among the nation's premier hunting and fishing groundsin the Platte River
                Valley.</p>

            <a href="#" class="btn">visit</a>
        </div>
        <!-- /logos__content -->

        <!-- logos__footer -->
        <footer class="logos__footer">
            <img src="img/logos/logos3_1.png" alt="yours to conquer">
        </footer>
        <!-- /logos__footer -->

    </section>
    <!-- /logos__item -->

</div>
<!-- /logos -->