<!-- menu-btn -->
<span class="menu-btn"><span></span></span>
<!-- /menu-btn -->

<!-- menu -->
<nav class="menu">

    <!-- menu__column -->
    <div class="menu__column">
        <a href="#" class="menu__item" data-content="Resorts">Resorts</a>
        <a href="#" class="menu__item" data-content="Activities">Activities</a>
        <a href="#" class="menu__item" data-content="Accomodations">Accomodations</a>
        <a href="#" class="menu__item" data-content="Groups">Groups</a>
    </div>
    <!-- /menu__column -->

    <!-- menu__column -->
    <div class="menu__column">
        <a href="#" class="menu__item" data-content="Events">Events</a>
        <a href="#" class="menu__item" data-content="Wellness & Spa">Wellness & Spa</a>
        <a href="#" class="menu__item" data-content="Cuisine">Cuisine</a>
        <a href="#" class="menu__item" data-content="Gallery">Gallery</a>
    </div>
    <!-- /menu__column -->

</nav>
<!-- /menu -->