<!-- navigation -->
<nav class="navigation">
    <!-- navigation__item -->
    <a href="#" class="navigation__item">
        <span class="navigation__item-icon"><img src="img/navigation/navigation1.png"></span>
        <span class="navigation__item-text">inquire today</span>
    </a>
    <!-- /navigation__item -->
    <!-- navigation__item -->
    <a href="#" class="navigation__item">
        <span class="navigation__item-icon"><img src="img/navigation/navigation2.png"></span>
        <span class="navigation__item-text">CHAT NOW</span>
    </a>
    <!-- /navigation__item -->
</nav>
<!-- /navigation -->