<div data-template="slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image">
                    <img src=@@slider1 alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src=@@slider2 alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src=@@slider3 alt="">
                </div>
            </div>
        </div>
    <div class="swiper-pagination"></div>
    </div>
</div>
