<!-- video-gallery -->
<div class="gallery gallery_video">
    <div class="slider slider-for">
        <div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic10.jpg"><button class="pause">pause</button><button class="play">play</button></div>
        <div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic2.jpg"><button class="pause">pause</button><button class="play">play</button></div>
        <div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic3.jpg"><button class="pause">pause</button><button class="play">play</button></div>
        <div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic4.png"><button class="pause">pause</button><button class="play">play</button></div>
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic5.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic6.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic7.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic8.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic1.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic10.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic2.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic3.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic4.png"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic5.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic6.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic7.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic8.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
        <!--<div class="lazyload slider-for__item" data-video="jU14YBbmaQI?rel=0" data-src="img/bg/pic1.jpg"><button class="pause">pause</button><button class="play">play</button></div>-->
    </div>
    <div class="slider slider-nav">
        <div class="lazyload" data-src="img/bg/pic10.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic2.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic3.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic4.png"></div>
        <!--<div class="lazyload" data-src="img/bg/pic5.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic6.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic7.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic8.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic1.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic10.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic2.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic3.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic4.png"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic5.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic6.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic7.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic8.jpg"></div>-->
        <!--<div class="lazyload" data-src="img/bg/pic1.jpg"></div>-->
    </div>
</div>
<!-- /video-gallery -->