<!-- video-gallery -->
<div class="gallery gallery_video">
    <div class="slider slider-for">
        <div class="lazyload slider-for__item" data-video="XfGoYP5TU64"></div>
        <div class="lazyload slider-for__item" data-video="ifcO1vBhed4"></div>
        <div class="lazyload slider-for__item" data-video="ZBjPvHj1-4k"></div>
        <div class="lazyload slider-for__item" data-video="Z0fo0EughQc"></div>
        <div class="lazyload slider-for__item" data-video="XfGoYP5TU64"></div>
        <div class="lazyload slider-for__item" data-video="ifcO1vBhed4"></div>
        <div class="lazyload slider-for__item" data-video="ZBjPvHj1-4k"></div>
        <div class="lazyload slider-for__item" data-video="Z0fo0EughQc"></div>
        <div class="lazyload slider-for__item" data-video="XfGoYP5TU64"></div>
        <div class="lazyload slider-for__item" data-video="ifcO1vBhed4"></div>
        <div class="lazyload slider-for__item" data-video="ZBjPvHj1-4k"></div>
        <div class="lazyload slider-for__item" data-video="Z0fo0EughQc"></div>
    </div>
    <div class="slider slider-nav">
        <div style="background-image: url(img/bg/pic1.jpg)"></div>
        <div style="background-image: url(img/bg/pic2.jpg)"></div>
        <div style="background-image: url(img/bg/pic3.jpg)"></div>
        <div style="background-image: url(img/bg/pic4.png)"></div>
        <div style="background-image: url(img/bg/pic5.jpg)"></div>
        <div style="background-image: url(img/bg/pic6.jpg)"></div>
        <div style="background-image: url(img/bg/pic7.jpg)"></div>
        <div style="background-image: url(img/bg/pic8.jpg)"></div>
    </div>
</div>
<!-- /video-gallery -->