<!-- video-gallery -->
<div class="gallery gallery_video">
    <div class="slider slider-for">
        <div class="lazyload slider-for__item" data-video="XfGoYP5TU64"></div>
        <div class="lazyload slider-for__item" data-video="ifcO1vBhed4"></div>
        <div class="lazyload slider-for__item" data-video="ZBjPvHj1-4k"></div>
        <div class="lazyload slider-for__item" data-video="Z0fo0EughQc"></div>
        <div class="lazyload slider-for__item" data-video="XfGoYP5TU64"></div>
        <div class="lazyload slider-for__item" data-video="ifcO1vBhed4"></div>
        <div class="lazyload slider-for__item" data-video="ZBjPvHj1-4k"></div>
        <div class="lazyload slider-for__item" data-video="Z0fo0EughQc"></div>
        <div class="lazyload slider-for__item" data-video="XfGoYP5TU64"></div>
        <div class="lazyload slider-for__item" data-video="ifcO1vBhed4"></div>
        <div class="lazyload slider-for__item" data-video="ZBjPvHj1-4k"></div>
        <div class="lazyload slider-for__item" data-video="Z0fo0EughQc"></div>
    </div>
    <div class="slider slider-nav">
        <div class="lazyload" data-src="img/bg/pic10.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic2.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic3.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic4.png"></div>
        <div class="lazyload" data-src="img/bg/pic10.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic2.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic3.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic4.png"></div>
        <div class="lazyload" data-src="img/bg/pic10.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic2.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic3.jpg"></div>
        <div class="lazyload" data-src="img/bg/pic4.png"></div>
    </div>
</div>
<!-- /video-gallery -->