<!-- awards -->
<div class="awards">

    <img src="img/awards/pic1.svg" width="116" height="63" alt="">
    <img src="img/awards/pic2.svg" width="100" height="65" alt="">
    <img src="img/awards/pic3.png" width="253" height="52" alt="">
    <img src="img/awards/pic4.svg" width="147" height="73" alt="">
    <img src="img/awards/pic5.svg" width="84" height="85" alt="">
    <img src="img/awards/pic6.png" width="108" height="79" alt="">
    <img src="img/awards/pic7.svg" width="148" height="87" alt="">

</div>
<!-- /awards -->