<!-- conditions -->
<div class="conditions">

    <!-- conditions__list -->
    <div class="conditions__list">

        <!-- conditions__item -->
        <div class="conditions__item">

            <!-- conditions__pic -->
            <span class="conditions__pic" style="background-image: url(img/conditions/pic1.jpg)"></span>
            <!-- /conditions__pic -->

            @@include('description.html', {
            "h2": "extraordinary",
            "p": "Log cabins and lodges outfitted with modern amenities and lavish accents deliver the ultimate in comfort and provide a rustically elegant setting for your unforgettable adventure."
            })

        </div>
        <!-- /conditions__item -->

        <!-- conditions__item -->
        <div class="conditions__item">

            <!-- conditions__pic -->
            <span class="conditions__pic" style="background-image: url(img/conditions/pic2.jpg)"></span>
            <!-- /conditions__pic -->

            @@include('description.html', {
            "h2": "extraordinary",
            "p": "Providing you with an extraordinary sense of place. And pioneering a unique luxury ranch experience with world-class accommodations, cuisine, and activities."
            })

        </div>
        <!-- /conditions__item -->

    </div>
    <!-- /conditions__list -->

</div>
<!-- /conditions -->