.article-navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 44px 30px;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: $articleNavColor;
  line-height: 1.2;
  font-weight: 700;

  a,
  a:visited {
    display: block;
    margin: 10px;
    text-transform: uppercase;
    color: $articleNavColor;
    border-bottom: 1px solid $articleNavColor;
    transition: border .3s ease-in-out;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  &__wrap {
    display: flex;
    position: relative;
    padding-left: 8px;
    margin-left: 8px;

    &:before {
      @include absoluteCenterY();
      left: -1px;
      width: 2px;
      height: 1em;
      background-color: $articleNavColor;
      content: '';
    }
  }

  &__all {

  }

  &__next {

    &:after {
      content: '>';
    }
  }

  &__prev {
    position: relative;

    &:before {
      content: '<';
    }

    &:after {
      @include absoluteCenterY();
      right: -11px;
      width: 2px;
      height: 1em;
      background-color: $articleNavColor;
      pointer-events: none;
      content: '';
    }
  }
}
@media (min-width: $phone-landscape) {
  .article-navigation {

  }
}
@media (min-width: $tablet-portrait) {
  .article-navigation {

  }
}
@media (min-width: $tablet-landscape) {
  .article-navigation {

  }
}
@media (min-width: $desktop) {
  .article-navigation {

  }
}

