.description {
  overflow: hidden;
  display: block;
  position: relative;
  min-height: 100px;
  max-width: 340px;
  padding: 0 25px;
  font-size: 10px;
  color: rgb(0, 0, 0);
  line-height: 1.44;
  font-weight: 600;
  text-align: left;

  &:before {
    position: absolute;
    top: 0;
    left: 8px;
    width: 8px;
    height: 100px;
    background-color: #997337;
    content: '';
  }

  &.description_white {
    color: rgb(255,255,255);

    .description__title,
    h2 { color: rgb(255,255,255) }
  }

  &__title,
  h2 {
    display: block;
    margin-bottom: 17px;
    font-size: 28px;
    letter-spacing: 3.3px;
    color: rgb(87, 45, 29);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
  }

  p {

  }
}
@media (min-width: $phone-landscape) {
  .description {

  }
}
@media (min-width: $tablet-portrait) {
  .description {

  }
}
@media (min-width: $tablet-landscape) {
  .description {
    min-height: 158px;
    max-width: 600px;
    padding: 0 45px;
    font-size: 15.594px;

    &.animation {
      opacity: 0;
    }

    &.show {
      opacity: 1;
      animation: opacityShow 1.3s ease-in-out;

      &:after {
        animation: show 1.3s ease-in-out;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #997337;
      transform: translate(-100%, 0);
      content: '';
    }

    &:before {
      left: 11px;
      width: 14px;
      height: 158px;
    }

    &__title,
    h2 {
      font-size: 46px;
    }

    p {

    }
  }
}
@media (min-width: $desktop) {
  .description {

  }
}

@keyframes opacityShow {
  0%   {opacity: 0;}
  50%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes show {
  0%   {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

