@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800');

@font-face {
    font-family: 'Zimra-Black';
    src: url('../fonts/Zimra-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zimra-Bold';
    src: url('./fonts/Zimra-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zimra-Regular';
    src: url('./fonts/Zimra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zimra-Thin';
    src: url('./fonts/Zimra-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
