.hero {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-height: 100vw;
  z-index: 1;

  &__movie {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    z-index: 1;

    img,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }

  &__mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
@media (min-width: $phone-landscape) {
  .hero {

  }
}
@media (min-width: $tablet-portrait) {
  .hero {

  }
}
@media (min-width: $tablet-landscape) {
  .hero {

  }
}
@media (min-width: $desktop) {
  .hero {
    min-height: 800px;
  }
}

.hero-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: #9cb6b5;
  background-size: cover;
  background-position: 50%;
  //background-image: url(/img/hero-main/background.jpg);
  background-repeat: no-repeat;

  &.complete {
    z-index: 0;
  }

  img, video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}