.image-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;

  &.type_1 {

    > .description {
      top: auto;
      bottom: 18.7%;
    }
  }

  &.type_2 {

    > .description {
      top: 50%;
    }
  }

  &.type_3 {

    > .description {

    }
  }

  &__bg {
    display: block;
    width: 100%;
  }

  > .conditions {
    margin-bottom: -40px;
  }

  > .description {
    position: absolute;
    top: 200px;
    left: 13px;
    z-index: 1;
  }

  > .movie {
    margin-bottom: 80px;
  }

  &__mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    img {
      display: block;
      width: 100%;
    }
  }

  > .logos {
    position: relative;
    margin-bottom: -26vh;
  }
}
@media (min-width: $phone-landscape) {
  .image-container {

  }
}
@media (min-width: $tablet-portrait) {
  .image-container {

  }
}
@media (min-width: $tablet-landscape) {
  .image-container {

  }
}
@media (min-width: $desktop) {
  .image-container {
    margin-bottom: 124px;

    &.type_1 {

    }

    &.type_2 {
      margin-bottom: 60px;
    }

    .movie {
      margin-bottom: 166px;
    }

    > .conditions {
      margin-bottom: -84px;
    }

    > .description {
      top: 200px;
      left: calc(50% - 578px);
      max-width: 480px;
      font-size: 16px;
      line-height: 1.562;

      &:before {
        width: 17px;
      }

      &__title {
        font-size: 50px;
        line-height: 1.2;
      }
    }

    .logos {
      margin-bottom: -512px;
    }
  }
}

