.image-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;

  &.type_1 {

  }

  &.type_2 {

  }

  &.type_3 {
    margin-bottom: -10vw;
  }

  &__bg {
    display: block;
    width: 100%;
  }

  > .conditions {
    position: relative;
    margin-bottom: -40px;
    z-index: 1;
  }

  > .movie {
    position: relative;
    margin-bottom: -220px;
    z-index: 1;
  }

  > .description_white {
    margin: 0 20px;
    color: rgb(0, 0, 0);

    .description__title,
    h2 { color: rgb(87, 45, 29) }
  }

  &__mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    img {
      display: block;
      width: 100%;
    }
  }

  > .logos {
    position: relative;
    margin-bottom: -20vh;
    z-index: 1;
  }
}
@media (min-width: $phone-landscape) {
  .image-container {

  }
}
@media (min-width: $tablet-portrait) {
  .image-container {

    &.type_1 {

      > .description {
        top: auto;
        bottom: 8.7%;
      }
    }

    &.type_2 {
      margin-bottom: 49px;

      > .description {
        top: 50%;
      }
    }

    &.type_3 {
      margin-bottom: -10vw;
      margin-bottom: -14vh;

      > .description {

      }
    }

    .movie {
      margin-bottom: -340px;
    }

    > .conditions {
      margin-bottom: -84px;
    }

    > .description_white {
      margin: 0;
      color: rgb(255, 255, 255);

      .description__title,
      h2 { color: rgb(255, 255, 255) }
    }

    > .description {
      position: absolute;
      top: 10vw;
      left: 20px;
      max-width: 480px;
      z-index: 1;
    }

    .logos {
      margin-bottom: -200px;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .image-container {

  }
}
@media (min-width: $desktop) {
  .image-container {
    margin-bottom: 124px;

    &.type_1 {

      > .description {
        top: auto;
        bottom: 18.7%;
      }
    }

    &.type_2 {

      > .description {
        top: 50%;
      }
    }

    &.type_3 {
      margin-bottom: -10vw;

      > .description {

      }
    }

    &.type_1 {

    }

    &.type_2 {
      margin-bottom: 49px;
    }

    &.type_3 {
      margin-bottom: -14vh;
    }

    .movie {
      margin-bottom: -721px;
    }

    > .conditions {
      margin-bottom: -84px;
    }

    > .description_white {
      margin: 0;
      color: rgb(255, 255, 255);

      .description__title,
      h2 { color: rgb(255, 255, 255) }
    }

    > .description {
      top: 200px;
      left: calc(50% - 578px);
      max-width: 480px;
      font-size: 16px;
      line-height: 1.562;

      &:before {
        width: 17px;
      }

      &__title {
        font-size: 50px;
        line-height: 1.2;
      }
    }

    .logos {
      margin-bottom: -512px;
    }
  }
}

