.logos {
  max-width: 380px;
  margin: 0 auto;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1000px;
    margin-bottom: -160px;
    padding: 0 30px 360px;
    text-align: center;
    background-image: url("../img/logos/logos_bg1.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;

    &_2 {
      background-image: url("../img/logos/logos_bg2.png");

      .logos__header { color: rgb(92, 132, 114) }
    }

    &_3 {
      background-image: url("../img/logos/logos_bg3.png");

      .logos__header { color: rgb(198, 125, 42) }
    }
  }

  &__head {
    margin-bottom: 23px;
    font-size: 12.58px;
    color: rgb(82, 45, 29);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2.3px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 182px;
    margin-bottom: 4px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    margin-bottom: 30px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 1.375;

    p {
      margin-bottom: 35px;
    }

    .btn { display: inline-flex }
  }

  &__footer {

  }
}
@media (min-width: $phone-landscape) {
  .logos {

  }
}
@media (min-width: $tablet-portrait) {
  .logos {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;

    &.animation {

      .logos__item {
        opacity: 0;
        transform: translate(0, 150px);
        transition: opacity .5s ease-in-out, transform .5s ease-in-out;

        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            transition-delay: $i/10 + .3s;
          }
        }
      }
    }

    &.show {

      .logos__item {
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    &__item {
      width: calc(100%/3 - 1px);
      min-height: 120vw;
      margin-bottom: 0;
      padding: 0 20px 34%;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .logos {

  }
}
@media (min-width: $desktop) {
  .logos {

    &__item {
      min-height: 1163px;
      padding: 0 30px 464px;
    }
  }
}

