.map {
  margin: 0 20px;
  padding: 8px;
  background-color: #221409;
  border: 5px solid #92703c;
  text-align: left;

  &__pic {
    margin-bottom: 20px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__info {
    display: block;
    padding: 0;
    font-size: 12px;
    color: rgb(250, 248, 246);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;

    h2 {
      margin-bottom: 20px;
      font-weight: 800;
    }

    ul {

      li {
        position: relative;
        padding-left: 10px;
        margin-bottom: 10px;

        &:before {
          @include absoluteCenterY();
          left: 0;
          content: '»';
        }
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .map {

  }
}
@media (min-width: $tablet-portrait) {
  .map {
    display: flex;
    align-items: center;
    width: calc(100% - 32px);
    max-width: 1168px;
    margin: 0 auto;
    padding: 12px;
    border: 7px solid #92703c;

    &__pic {
      margin: 0;
    }

    &__info {
      padding: 60px 0 60px 20px;
      font-size: 14.46px;

      h2 {
        margin-bottom: 30px;
      }

      ul {

        li {
          padding-left: 20px;
        }
      }
    }
  }
}
@media (min-width: $tablet-landscape) {
  .map {

  }
}
@media (min-width: $desktop) {
  .map {
    height: 544px;

    &__info {
      padding: 130px 0 130px 34px;
    }
  }
}

