.map {
  margin: 0 20px;
  background-color: $mapBg;

  img {
    display: block;
    max-width: 100%;
  }
}
@media (min-width: $phone-landscape) {
  .map {

  }
}
@media (min-width: $tablet-portrait) {
  .map {
    width: calc(100% - 32px);
    max-width: 1168px;
    margin: 0 auto;
  }
}
@media (min-width: $tablet-landscape) {
  .map {

  }
}
@media (min-width: $desktop) {
  .map {

  }
}

