//fonts

@mixin Zimra-Black() {
    font-family: "Zimra-Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin Zimra-Bold() {
    font-family: "Zimra-Bold", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin Zimra-Regular() {
    font-family: "Zimra-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin Zimra-Thin() {
    font-family: "Zimra-Thin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin Monserrat() {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

@mixin absoluteCenterX() {
    position: absolute;
    left: 50%;
    transform: translateX( -50% );
}

@mixin absoluteCenterY() {
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
}


$minScreen: 768px;
$maxScreen: 1600px;
$minFont: 13px;
$maxFont: 16px;

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}
