.movie {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  max-width: 1708px;
  margin: 0 auto;

  &__wrap {
    position: relative;

    img,
    video {
      width: 100%;
      z-index: 1;
    }
  }

  &__content {
    @include absoluteCenterX();
    top: 0;
    width: calc(100% - 40px);
    max-width: 1200px;

    .description {
      position: absolute;
      top: 200px;
      right: 13px;
    }
  }
}
@media (min-width: $phone-landscape) {
  .movie {

  }
}
@media (min-width: $tablet-portrait) {
  .movie {

  }
}
@media (min-width: $tablet-landscape) {
  .movie {

  }
}
@media (min-width: $desktop) {
  .movie {

  }
}

