.movie {
  width: calc(100% - 40px);
  max-width: 1708px;
  margin: 0 auto;

  &__wrap {
    position: relative;
    margin-bottom: 30px;

    img,
    video {
      width: 100%;
      z-index: 1;
    }
  }

  &__content {

  }
}
@media (min-width: $phone-landscape) {
  .movie {
    display: flex;
    justify-content: space-between;

    &__wrap { margin-bottom: 0 }

    &__content {
      @include absoluteCenterX();
      top: 0;
      width: calc(100% - 40px);
      max-width: 1200px;

      .description {
        position: absolute;
        top: 5vw;
        right: 13px;
      }
    }
  }
}
@media (min-width: $tablet-portrait) {
  .movie {

  }
}
@media (min-width: $tablet-landscape) {
  .movie {

  }
}
@media (min-width: $desktop) {
  .movie {

    &__content {

      .description {
        max-width: 480px;
        font-size: 16px;
        line-height: 1.562;

        &:before {
          width: 17px;
        }

        &__title {
          font-size: 50px;
          line-height: 1.2;
        }
      }
    }
  }
}

