.site-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  label {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 2.2;
    font-weight: 600;
  }

  .gform_wrapper label.gfield_label {
    font-weight: 600;
  }

  input {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #636363;
  }

  input[type=submit] {

  }

  .gfield_checkbox {

    li {
      display: block;
      user-select: none;

      input[ type = checkbox ] {
        position: absolute;
        clip: rect(0, 0, 0, 0);

        &:checked + label {

          &:before {
            border-color: #8cc5ff;
            background-color: #8cc5ff;
          }

        }

        &:disabled + label {
          cursor: default;
          opacity: .5;
        }

      }
      label {
        position: relative;
        display: flex;
        text-align: left;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 18px;
        color: rgb(0, 0, 0);
        text-transform: none;

        &:after,
        &:before {
          position: absolute;
          content: '';
        }

        &:after {
          position: absolute;
          top: 0px;
          left: 1px;
          width: 29px;
          height: 29px;
          z-index: 2;
          border: 1px solid #636363;
          box-sizing: border-box;
          clip: rect(3px, 15px, 15px, 8px);
          transform: rotate(45deg);
          content: '';
        }

        &:before {
          position: absolute;
          top: -3px;
          left: 1px;
          width: 15px;
          height: 15px;
          z-index: 1;
          border-width: 1px;
          border-color: rgb(209, 209, 209);
          border-style: solid;
          border-radius: 3px;
          background-color: rgb(255, 255, 255);
          box-sizing: border-box;
          transition: background .3s ease-in-out, border .3s ease-in-out;
          content: '';
        }
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .site-form {

  }
}
@media (min-width: $tablet-portrait) {
  .site-form {

  }
}
@media (min-width: $tablet-landscape) {
  .site-form {

  }
}
@media (min-width: $desktop) {
  .site-form {

  }
}
