.site-form {
  padding: 0 20px;

  label {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 2.2;
  }

  .gform_wrapper label.gfield_label {
    font-weight: 400 !important;
  }

  input {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #636363;
  }

  .gfield_checkbox {

    li {
      display: block;
      user-select: none;

      input[ type = checkbox ] {
        position: absolute;
        clip: rect(0, 0, 0, 0);

        &:checked + label {

          &:after {
            border-color: #636363;
          }

        }

        &:disabled + label {
          cursor: default;
          opacity: .5;
        }

      }
      label {
        position: relative;
        width: 100%;
        padding-left: 40px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600 !important;
        color: rgb(0, 0, 0);
        text-transform: none;

        &:after,
        &:before {
          position: absolute;
          content: '';
        }

        &:after {
          position: absolute;
          top: 0;
          left: 4px;
          width: 12px;
          height: 12px;
          z-index: 2;
          border: 1px solid transparent;
          box-sizing: border-box;
          clip: rect(3px, 15px, 15px, 8px);
          transform: rotate(45deg);
          content: '';
        }

        &:before {
          position: absolute;
          top: 0;
          left: 1px;
          width: 20px;
          height: 20px;
          z-index: 1;
          border-width: 1px;
          border-color: #636363;
          border-style: solid;
          background-color: rgb(255, 255, 255);
          box-sizing: border-box;
          transition: background .3s ease-in-out, border .3s ease-in-out;
          content: '';
        }
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .site-form {

  }
}
@media (min-width: $tablet-portrait) {
  .site-form {

  }
}
@media (min-width: $tablet-landscape) {
  .site-form {

  }
}
@media (min-width: $desktop) {
  .site-form {
    max-width: 1240px;
    margin: 0 auto;

    input {
      height: 81px;
      width: 100%;
      margin-bottom: 0;
      padding: 0 10px;
      border: 1px solid #636363;
    }

    .gform_fields {

      li {
        display: flex;
        margin: 0 0 31px 0 !important;

        label {
          width: calc(100% - 820px);
          padding: 24px 20px 0 0;
          text-align: right;
          font-size: 25px;
          color: rgb(0, 0, 0);
          line-height: 2.2;
        }

        .ginput_container {
          width: 820px;
          margin: 0 !important;
        }

        .gfield_checkbox {
          padding-top: 15px;
          margin-bottom: 10px;

          li {
            display: block;
            margin-bottom: 1px !important;

            label {
              width: 100%;
              font-size: 18px;
              text-align: left;
              line-height: 1.6;
              padding: 0 0 0 111px;
              letter-spacing: -.4px;
            }
          }
        }
      }
    }

    .gfield_checkbox {

      li {

        label {
          padding-left: 40px;
          margin-bottom: 14px;
          font-size: 14px;

          &:after {
            top: 1px;
            left: 7px;
            width: 15px;
            height: 1152px;
          }

          &:before {
            top: 0;
            left: 1px;
            width: 29px;
            height: 29px;
            z-index: 1;
          }
        }
      }
    }
  }
}
