* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: $red;
    //@include Monserrat();
    @extend %Regular;
}
