*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    //overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--white);
    font-family: var(--FontRegular);
    font-size: 100%;
}
