* {
    box-sizing: border-box;
    //outline: 1px solid red;
}
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: $red;
}
