:root {
    --black: #000;
    --white: #fff;
    --blue: #194b64;
    --brown: #522d1d;
    --goldenbrown: #997337;
    --green: #5c8472;
    --orange: #c67d2a;
    --cream: #edd6af;
}
/*---------- alone-video ----------*/

/*---------- /alone-video ---------*/

/*---------- article ----------*/
$articleColor: rgb(1, 2, 14);
$articleH2: #572d1d;
$articleCircle: #000;
/*---------- /article ---------*/

/*---------- article-navigation ----------*/
$articleNavColor: rgb(0, 0, 0);
/*---------- /article-navigation ---------*/

/*---------- awards ----------*/

/*---------- /awards ---------*/

/*---------- blog-preview ----------*/
$blogPreviewItemColor: rgb(87, 45, 29);
$blogPreviewTimeColor: rgb(0, 0, 6);
$blogPreviewMoreColor: rgb(0, 0, 0);
$blogPreviewLoadingColor: #fff;
/*---------- /blog-preview ---------*/

/*---------- btn ----------*/
$btnColor: rgb(255, 255, 255);
$btnBg: #484b49;
$btnBorder: #fff;
$btnBgHover: #194b64;
/*---------- /btn ---------*/

/*---------- conditions ----------*/

/*---------- /conditions ---------*/

/*---------- content ----------*/
$conentColor: rgb(0, 0, 0);
/*---------- /content ---------*/

/*---------- desciption ----------*/
$descriptionColor: rgb(0, 0, 0);
$descriptionWhiteColor: rgb(255,255,255);
$descriptionLineBg: #997337;
$descriptionTitleColor: rgb(87, 45, 29);
/*---------- /desciption ---------*/

/*---------- filter ----------*/
$filterColor: rgb(0, 0, 0);
/*---------- /filter ---------*/

/*---------- footer ----------*/
$footerMenuColor: rgb(255, 255, 255);
$footerAddressColor: rgb(255, 255, 255);
$footerBottomBg: #000;
$footerBottomLineBg: #92703c;
/*---------- /footer ---------*/

/*---------- gallery ----------*/
$gallerySliderBg: #ccc;
$galleryLoaderColor: #fff;
/*---------- /gallery ---------*/

/*---------- header ----------*/
$headerFixedBg: rgb(25, 75, 100);
$headerFixedBorder: #fff;
$headerFixedMenuHoverColor: #997337;
/*---------- /header ---------*/

/*---------- hero ----------*/

/*---------- /hero ---------*/

/*---------- image-container ----------*/
$imageContainerDescriptionWhiteColorMobile: rgb(0, 0, 0);
$imageContainerDescriptionWhiteTitleColorMobile: rgb(87, 45, 29);
$imageContainerDescriptionWhiteColorDesktop: #fff;
$imageContainerDescriptionWhiteTitleColorDesktop: #fff;
/*---------- /image-container ---------*/

/*---------- logo ----------*/
$logoColor: rgb(255, 255, 255);
/*---------- /logo ---------*/

/*---------- logos ----------*/
$logosContentColor: rgb(0, 0, 0);
$logosHeadColor1: rgb(82, 45, 29);
$logosHeadColor2: rgb(92, 132, 114);
$logosHeadColor3: rgb(198, 125, 42);
/*---------- /logos ---------*/

/*---------- map ----------*/
$mapBg: #221409;
/*---------- /map ---------*/

/*---------- menu ----------*/
$menuColor: rgb(255, 255, 255);
$menuHoverColor: #63cd28;
$menuOpenBg: rgba(25, 75, 100, .8);
/*---------- /menu ---------*/

/*---------- movie ----------*/

/*---------- /movie ---------*/

/*---------- navigation ----------*/
$navigationBg: rgba(255, 255, 255, .702);
$navigationHoverBg: rgba(255, 255, 255, 1);
$navigationHoverShadowColor: rgba(0,0,0, .5);
/*---------- /navigation ---------*/

/*---------- site ----------*/

/*---------- /site ---------*/

/*---------- social ----------*/
$socialBg: #8a4b00;
$socialHoverBg: #000;
$socialSVGFill: #fff;
/*---------- /social ---------*/

/*---------- video-gallery ----------*/
$videogGllerySliderBg: #ccc;
$videogGlleryLoaderColor: #fff;
/*---------- /video-gallery ---------*/

/*---------- weather ----------*/
$weatherColor: #fff;
/*---------- /weather ---------*/
