//Weights: 300,400,600,700,800
:root {
    --FontRegular: 'Montserrat', sans-serif;
}

%Title {
    font-family: var(--FontRegular);
    text-transform: uppercase;
    letter-spacing: 5px;
}

[data-widget="text"] {

    > * {
        margin: 1.5rem 0;
    }

    h1, h2, h3, h4, h5 {
        @extend %Title;

        line-height: 1.25;
    }

    h1 {

    }

    h2 {
        font-weight: 400;
        font-size: 2.813rem;

        [data-template="grid-contact"] & {
            font-size: 2.188rem;
        }
    }

    h3 {
        font-weight: 800;
        font-size: 2.188rem;
    }

    h4 {
        font-weight: 700;
        font-size: 0.8125rem;
    }

    p {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5;

        [data-template="grid-contact"] &, [data-template="grid-career"] & {
            font-size: 1rem;
        }
    }

    a {
        display: inline-block;
        color: inherit;
        opacity: .75;
        position: relative;
        font-weight: 600;

        &:after {
            content: "";
            position: absolute;
            left: 0; bottom: 3px;
            height: 2px; width: 0;
            background-color: var(--black);
            opacity: .75;
            transition: .3s;
        }

        &:hover {
            opacity: 1;
            &:after {
                width: 100%;
            }
        }

    }

    b,
    strong {
        font-weight: 600;
    }

    em {
        font-style: italic;
    }

    ul {
        list-style: disc;
        list-style-position: inside;
        line-height: 1.5;
        font-size: 1.25rem;
    }

    .btn {
        //margin: 3rem 0;
    }
}
