[data-template="text"] {
    max-width: 1024px;
    padding: 0 3rem;
    width: 100%;
    margin: 0 auto;

    &[data-align="center"] {
        text-align: center;
    }

    [data-widget="text"] {
        ul {
            list-style-position: outside;
            margin-left: 1rem;
            li {
                margin-bottom: 2.813rem;

                &:last-of-type {
                    margin-bottom: 0
                }
            }
        }
    }
}
