[data-template="career-grid"] {
    max-width: 1024px;
    margin: 7.5rem auto;
    padding: 0 1rem;
    width: 100%;

    .btn {
        width: 100%;
    }

    .inner-padding {

    }
    .row {
        .item {
            &:nth-of-type(2) {
                > * {
                    padding: 3.75rem 2.813rem;
                }
            }
        }
    }
    .hightlight {
        background-color: var(--cream);
    }
}
